body {
    width: 90%;
    margin: auto;
    background-color: #ffd8b1;
}

a {
    font-family: 'PenguinAttackCyrillic';
    font-weight: bold;
    font-size: x-large;
}
.navbar{
    width: 100%;
}

#carousel_2 {
    height: 550px;
    margin-bottom: 20px;
}
#carousel_3 {
    height: 550px;
    margin-bottom: 20px;
}
#carousel_4 {
    height: 550px;
    margin-bottom: 20px;
}
#carousel_5 {
    height: 550px;
    margin-bottom: 20px;
}



#carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;}

.reasons {
    padding: 20px;
    list-style: none;
}
.reasons li{
    padding:6px;
}
.reasons li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.reasons li:hover:before {
    color: #337AB7;
    content: "\2714";
}    
#Anna {
    max-width:100%;
    max-height:100%;

}

h1 {
    font-family: '18046', 'SnyderSpeedBrushCyr-Regular';
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;    
}

h2 {
    font-family: '18046', 'SnyderSpeedBrushCyr-Regular';
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
        
}

h3 {
    font-family: '18046', 'SnyderSpeedBrushCyr-Regular';
    text-align: center;
    margin-bottom: 20px;
    
    
}

.facts {
    font-family: '18046', 'SnyderSpeedBrushCyr-Regular';
    text-align: center;
    font-size: 3em;
    text-shadow: aquamarine;
}

#pills-tab {
    color: burlywood;
    padding: 10px;
    margin-top: 10px;
}

#youget{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    }

    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    .social a {
        text-align: center;
        width: 80px;
        height: 80px;
        float: left;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 60px rgba(0,0,0,0.1);
        border-radius: 80px;
        margin: 0 20px 20px 0;
        padding: 15px;
        color: #000;
    }

    .social {
        display: inline;
        text-align: center;
    }
    .youtube a:hover {background: #c4302b; color: #fff;}
    .instagram a:hover {background: #3f729b; color: #fff;}
    .facebook a:hover {background: #3b5998; color: #fff;}
    .vk a:hover {background: #5d84ae; color: #fff;}
    .telegram a:hover {background: #249bd7; color: #fff;}
    .whatsapp a:hover {background: #50b154; color: #fff;}
    

@font-face {
    font-family: 'PenguinAttackCyrillic';
    src: url('PenguinAttackCyrillic.eot');
    src: url('fonts/PenguinAttackCyrillic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PenguinAttackCyrillic.svg#PenguinAttackCyrillic') format('svg'),
         url('fonts/PenguinAttackCyrillic.ttf') format('truetype'),
         url('fonts/PenguinAttackCyrillic.woff') format('woff'),
         url('fonts/PenguinAttackCyrillic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
  }

  @font-face {
    font-family: '18046';
    src: url('fonts/18046.eot');
    src: url('fonts/18046.eot?#iefix') format('embedded-opentype'),
         url('fonts/18046.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-size: xx-large;
  }
  
  @font-face {
    font-family: 'SnyderSpeedBrushCyr-Regular';
    src: url('fonts/SnyderSpeedBrushCyr-Regular.svg#SnyderSpeedBrushCyr-Regular') format('svg'),
         url('fonts/SnyderSpeedBrushCyr-Regular.ttf') format('truetype'),
         url('fonts/SnyderSpeedBrushCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: xx-large;
  }
  
 
  